name: Deploy Laravel Sail
on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy (Local) con Sail
        shell: bash
        run: |
          set -e
          cd /home/pau/development/laravel/blog
          git pull origin main
          ./vendor/bin/sail down
          ./vendor/bin/sail up -d --build
          ./vendor/bin/sail artisan migrate --force
